@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(43, 43, 43);
}

.logo-vc {
  width: 250px !important;
}

.navbar-toggler {
  scale: 0.8;
}

.dropdown-item.text-light:hover {
  color: black !important;
}

.card.dark,
.form-control.dark,
.form-check-input.dark {
  background-color: transparent;
}

.card-header.dark {
  background-color: #474d52;
}

.card.dark,
.card-header.dark,
.form-control.dark,
.form-check-input.dark {
  color: #f8f9fa;
  border-color: #474d52;
}

.narrow {
  max-width: 980px;
  margin: 0 auto;
}

.input-group-text {
  min-width: 140px;
}

.invalid-feedback,
#status-message {
  margin-top: 0.25rem;
  font-size: 0.875em;
}

.pos-relative {
  position: relative;
}

.invalid-feedback {
  min-height: 1.2em;
}

.welcome-card-image {
  width: 80px;
}

.vinyl-card-img {
  width: 180px;
  aspect-ratio: 1/1;
}

.vinyl-card-label {
  display: inline-block;
  width: 100px;
}

.card-link {
  transition: 0.3s;
}

.card-link:hover {
  scale: 1.02;
  cursor: pointer;
}