@import '~bootstrap/scss/bootstrap';

:root {
  --vinyls-bg: url("../img/welcome/vinyls.jpg");
  --labels-bg: url("../img/welcome/labels.jpg");
  --genres-bg: url("../img/welcome/genres.jpg");
}

body {
  background-color: rgb(43, 43, 43);
}

.logo-vc {
  width: 250px !important;
}

.navbar-toggler {
  scale: 0.8;
}

.dropdown-item.text-light:hover {
  color: black !important;
}

.card.dark,
.form-control.dark,
.form-check-input.dark,
.input-group-text.dark,
.form-select.dark {
  background-color: transparent;
}

.card-header.dark {
  background-color: #474d52;
}

.card.dark,
.card-header.dark,
.form-control.dark,
.form-check-input.dark,
.input-group-text.dark,
.form-select.dark {
  color: #f8f9fa;
  border-color: #474d52;
}

.form-select.dark {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  appearance: none;

  option {
    background-color: rgb(43, 43, 43);
    color: #f8f9fa;
  }
}

.welcome-card {
  width: 300px;
  aspect-ratio: 16/9;
  background:
    linear-gradient(-30deg,
      #000000 28%,
      rgba(0, 0, 0, 0.6) 35%,
      rgba(0, 0, 0, 0.2) 45%,
      transparent 60%),
    var(--card-bg);
  background-size: cover;
  transition: 0.3s ease;
  position: relative;

  &:hover {
    transform: scale(1.02);
  }
}

.welcome-card.vinyls {
  --card-bg: var(--vinyls-bg);
}

.welcome-card.labels {
  --card-bg: var(--labels-bg);
}

.welcome-card.genres {
  --card-bg: var(--genres-bg);
}

.bottom-corner {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.narrow {
  max-width: 980px;
  margin: 0 auto;
}

.input-group-text {
  min-width: 140px;
}

.invalid-feedback,
#status-message {
  margin-top: 0.25rem;
  font-size: 0.875em;
}

.pos-relative {
  position: relative;
}

.invalid-feedback {
  min-height: 1.2em;
}

.welcome-card-image {
  width: 80px;
}

.vinyl-card-img {
  width: 180px;
  aspect-ratio: 1/1;
}

.vinyl-card-label {
  display: inline-block;
  width: 100px;
}

.card-link {
  transition: 0.3s;
}

.card-link:hover {
  scale: 1.02;
  cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}